*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
} 

body{
    background: #f0f2f5;
    color: #5f5f5f;


}

.navbar-center img{
    height: auto;
    width: 30px;
   padding-right: 4px;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 6px 6%;
    position: sticky;
    top: 0%;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 90px;
    display: block;
    margin-right: 15px;

}

.navbar-center ul li{
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}

.navbar-center ul li a img{
    width: 30px;
}

.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after{
    width: 100%;
}



.navbar-right img{
    width: 60px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online{
    position: relative;

}

.online::after{
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 50%;
    right: 0px;
    top: 0;
    background-color: green;
    position: absolute;

}

.search-box{
    background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 20px;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}

/* NAVBAR END */

.container{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*-------------left sidebar--------------*/
.left-sidebar{
    flex-basis: 25;
    align-self: flex-start;
}
.sidebar-profile-box{
    background: white;
}

.sidebar-profile-box img{
    width: 500px;
    height: 120px;
}

.sidebar-profile-info{
    padding: 0 25px;
}


.sidebar-profile-info img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    background: white;
    padding: 4px;
    margin-top: -45px;
}

.sidebar-profile-info h1{
  font-size: 32px;
  font-weight: 650;
  color: #222;

}

.sidebar-profile-info h3{
    font-size: 18px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}

.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 15px;
}
.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;

}

.sidebar-profile-links{
    display: flex;
    align-items: center;
}

.sidebar-profile-links a{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;

}

.sidebar-profile-links img{
    height: auto;
    width: 40px;
}


/*-------------right sidebar--------------*/
.right-sidebar{
    flex-basis: 25;
    align-self: flex-start;
}

/*-------------right sidebar--------------*/
.main-content{
    flex-basis: 47;
}
